body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body{
    background-color: rgb(89, 89, 212);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header, footer{
    color: white;
    font-size: 1.6rem;
}

label, input{
    font-size: 1.4rem
}


section{
    background-color: white;
    border-radius: 1rem;
    width: 50rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#res{
    margin: 1rem 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#res > img{
    width: 100%;
    height: 50rem;
    object-fit: cover;
}

